*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-principal);
    border: solid 2px black;
}
.boton-whatsapp{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.link:hover {
    box-shadow: 0 0 2rem black;
    cursor: pointer; 
}
.header {
    border: 2px solid black;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--background-principal);
    padding: 0 0.5rem 0 2rem;
}
.header .navbar {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: 100%;
    width: 30vw;
    padding: 1rem;
    background-color: var(--background-principal);
}
.escondido {
    display: none;
}


#vermas{
    border-radius: 5rem;
    color: white;
    width: 50%;
    height: 40%;
    border: 2px solid rgb(0, 0, 0);
}
.navbar a {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50%;
}

.botones-header a{
    border: 2px solid black;
    width: 20%;
    height: 100%;
    padding: 0.4rem;
    background-color: #1ea89a;
    color: white;
    text-decoration: none;
    border-radius: 0% 0% 50% 50% ;
}

.link img {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}
.botones-header img{
    width: 1vw;
    height: 1vh;
}

.div1-section1 {
    border: solid 2px black;
    width: 35%;
    color: var(--color-letra);
}
.div1-section1 h2 {
    margin:10%;
    border: solid 2px black;
    font-size: 4rem;
}
.div1-section1 p{
    margin: 5%;
    border: solid 2px black;
}
.div2-section1 img{
    border: solid 2px black;
    width: 30vw;
    height: 50vh;
}
.seccion2{
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

.titulo{
    display: flex;
    width: 40%;
    height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;

}


.contenedor-servicioss{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 2px solid rgb(0, 0, 0);*/ 
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

.contenedor-servicioss .servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 40%;
    border: 2px solid rgb(0, 0, 0);
    row-gap: 2rem;
    padding: 3.5rem;
    border-radius: 1rem;
}



/*Section 3 colaboradores*/

.seccion3{
    flex-direction:column;
    align-items: center;
}

.contenedor-colaborador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 2px solid rgb(1, 158, 255);*/ 
    flex-wrap: wrap;
    border-radius: 1rem;
    row-gap: 2rem;
}

.contenedor-colaborador .colaborador{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 65%;
    border: 2px solid rgb(0, 0, 0);
    row-gap: 2rem;
    padding: 3.5rem;
    border-radius: 1rem;
}


.img-colaborador{
    display: flex;
    height: 50%;
    width: 50%;
}
#footer{
    height: 10vh;
}
#footer img{
    width: 2vw;
    height: 3vh;
}
.boton-whatsapp img{
    width: 100%;
    height: 100%;
}
